@import './typed.css/typed.scss';

body {
  display: grid;
  height: 100vh;
  place-items: center;
  width: 100%;
}

.input-wrapper {
  display: block;
  font-family: 'AwakenBlack';
  font-size: 125%;
  width: 50%;
  > input,
  > .placeholder {
    display: block;
    appearance: none;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
  }
  > .placeholder {
    pointer-events: none;
    @include typed(
      "嗨😊,好久不见呀...依然",
      "想着在一个合适的时候给你一个 ...惊喜🎉! ",
      "让我们将时间定格在9/19这一天~",
      "假装我是文先森的另一个人格哈哈哈 , 我叫文小政:)",
      "但..还是像原来那样称呼我吧!😳",
      "我没有忘记你喔..当然也包括这一天!",
      "Im gald u theat me as friend!",
      "虽然没有现实的相遇 , 但网络构建了我们的相识:)) XDDD",
      "这里像是另一个家!..emm 会不会有些奇怪?...就像画中的内容是另一个世界一样",
      "这里的一切都可以重构..甚至是人际关系",
      "...",
      "哈哈其实我也不知道该说些什么~",
      "突然感觉我好喜欢以这样留言的方式给朋友写写话",
      "这个页面搭建于我的军训期间.😥有些匆忙..没有移动端适配..别介意哈~",
      "我不常向别人诉说我的故事.. 那些..五味杂陈",
      "困.jpg 但是祝福的话不能少!",
      "喔!还有..我在云上的歌单加了一首!🎵..(或许提前就被你看到了!",
      "那么~ 祝 依然 ",
      "所求皆如愿 , 所行化坦途",
      "多喜乐，长安宁。",
      0.85,  // 1.5
      (
        caret-width: 2px,
        caret-space: 2px,
        iterations:1,
        end-on:" 生日快乐!🎉╰(*°▽°*)╯ "
      )
    );
  }
  > input {
    &:focus,
    &:active {
      + .placeholder {
        display: none;
      }
    }
  }
}